<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}

{% comment %}
  Product tags in the current collection
{% endcomment %}
{% if collection.all_tags.size > 0 %}
  <h6>{{ 'collections.sidebar.tags' | t }}</h6>

  {% comment %}
    To provide a 'catch-all' link at the top of the list,
    check against the collection.handle, product type, and vendor.
  {% endcomment %}
  <ul class="no-bullets">
    <li{% unless current_tags %} class="filter--active"{% endunless %}>

      {% comment %}
        Good for /collections/all collection and regular collections
      {% endcomment %}
      {% if collection.handle %}
        <a href="/collections/{{ collection.handle }}">
          {{ 'collections.general.all_of_collection' | t: collection: collection.title }}
        </a>

      {% comment %}
        Good for automatic type collections
      {% endcomment %}
      {% elsif collection.current_type %}
        <a href="{{ collection.current_type | url_for_type }}">
          {{ 'collections.general.all_of_collection' | t: collection: collection.title }}
        </a>

      {% comment %}
        Good for automatic vendor collections
      {% endcomment %}
      {% elsif collection.current_vendor %}
        <a href="{{ collection.current_vendor | url_for_vendor }}">
          {{ 'collections.general.all_of_collection' | t: collection: collection.title }}
        </a>
      {% endif %}
    </li>

    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}
    {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
        <li class="filter--active">
          {{ tag | link_to_remove_tag: tag }}
        </li>
      {% else %}
        <li>
          {% comment %}
            Use link_to_add_tag if you want to allow filtering
            by multiple tags
          {% endcomment %}
          {{ tag | link_to_tag: tag }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
