<script>

$(function() { //document ready
  // detect changes
  $(window).load( function() {
      $.stickyHeader()
  })
  $(window).resize( function() {
      $.stickyHeader()
  })
  $(window).scroll( function() {
      $.stickyHeader()
  })
})

//functions
  $.heroTopMargin = function() {
    $("#hero").css("margin-top", $(".user-menu").outerHeight())
  }
  $.heroTopMarginRemove = function() {
    $("#hero").css("margin-top", "0px")
  }
  $.headerFixed = function() {
    $(".user-menu").addClass("header-fixed")
    $("#nav-container").addClass("header-fixed")
    $("#no-hero-nav-container").addClass("header-fixed")
    $("#nav-container").animate({ 'background-color': 'rgba(0, 0, 0, 0.7)' },1000)
  }
  $.headerNotFixed = function() {
    $(".user-menu").removeClass("header-fixed")
    $("#nav-container").removeClass("header-fixed")
    $("#no-hero-nav-container").removeClass("header-fixed")
    $("#nav-container").animate({ 'background-color': 'rgba(0, 255, 0, 0.7)' },1000)
  }
  $.mainTopMargin = function() {
    $("main").css("margin-top", $("#hero").outerHeight())
  }
  $.mainTopMarginRemove = function() {
    $("main").css("margin-top", "0px")
  }
  
  
  $.stickyHeader = function() {
    var winTop = $(window).scrollTop()
      if (winTop >= $(".top-cta").outerHeight()) {
        $.headerFixed()
        $.heroTopMargin()
        {%if template != 'index' %}
        $.mainTopMargin()
        {%endif%}
      } else {
        $.headerNotFixed()
        $.heroTopMarginRemove()
        {%if template != 'index' %}
        $.mainTopMarginRemove()
        {%endif%}
        $("#nav-container").animate({ 'background-color': 'rgba(0, 255, 0, 0.7)' },1000)
      }
      if (winTop >= 500) {
        $("#nav-container").addClass("header-shrink")
      }else{
        $("#nav-container").removeClass("header-shrink")
      }
  }
  </script>