<!-- begin footer.liquid -->
<footer class="wrapper site-footer small--text-center" role="contentinfo">
  <div class="grid footer-blocks">
    <div class="grid__item large--one-third medium--one-whole small--one-whole">
      <h4>{{ 'homepage.sections.news_title' | t }}</h4>
      {% for article in blogs['news'].articles limit:1 %}
        <h5><a href="{{ article.url }}">{{ article.title }}</a></h5>
        <div class="rte"> 
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
          {% else %}
            <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
          {% endif %} </div>
          <ul>
            {% if blog.comments_enabled? %}
              <li>
                <a href="{{ article.url }}#comments">
                  {{ article.comments_count }}
                  {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                </a> 
              </li>
            {% endif %}
          </ul>
        <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p> 
      {% endfor %} 
    </div>
    {% if settings.footer_newsletter_enable or settings.footer_social_enable %}
    <div class="grid__item large--one-third medium--one-half small--one-whole">
      <h4>{{ 'layout.footer.social_title' | t }}</h4>
        {% if settings.newsletter_form_action != blank %}
          <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
            <span class="input-group-btn">
              <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
            </span>
          </form>
        {% else %}
          {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
            {% else %}
              <div class="input-group">
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <span class="input-group-btn">
                  <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                </span>
              </div>
            {% endif %}
          {% endform %}
        {% endif %}
    {% if settings.footer_social_enable %}
      <hr class="hr--clear">
      <ul class="inline-list text-center social-icons">
        {% if settings.social_twitter_link != blank %}
        <li>
          <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter"> <span class="icon icon-twitter" aria-hidden="true"></span> <span class="fallback-text">Twitter</span> </a>
        </li>
        {% endif %}
        {% if settings.social_facebook_link != blank %}
        <li>
          <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook"> <span class="icon icon-facebook" aria-hidden="true"></span> <span class="fallback-text">Facebook</span> </a>
        </li>
        {% endif %} 
        {% if settings.social_instagram_link != blank %}
        <li>
          <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Twitter"> <span class="icon icon-instagram" aria-hidden="true"></span> <span class="fallback-text">Instagram</span> </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
    {% endif %}
      <div class="grid__item large--one-third medium--one-half small--one-whole">
        <h4>Links</h4>
        <ul class="h5 no-bullets text-center">
          {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div> 
  </div>
  <div class="grid--full">
    {% comment %}
      IMPORTANT! Removing the following link is not permitted and voids your IP agreement
    {% endcomment %}
    <div class="grid__item large--one-half medium--one-half small--one-half text-left"><p>Copyright &copy; 2016 <a href="/">{{ shop.name }}</a></p></div>
    <div class="grid__item large--one-half medium--one-half small--one-half text-right"><p><a href="https://elkfox.com?ref={{ shop.name | handleize }}" title="Digital Commerce Agency Elkfox.com">Elkfox</a> & <a href="http://shopify.com?ref=elkfox" title="Shopify.com">Shopify</a></p></div>
  </div>
</footer>
<!-- end footer.liquid -->