<!-- begin header.liquid -->
  <header class="site-header" role="banner">
    <div class="grid--full top-cta">
      <div class="grid__item text-center large--one-whole">
        <h6>{{ settings.announcement }}</h6>
      </div>
    </div>
    <nav class="nav-bar user-menu" role="navigation">
      <div class="medium-down--hide">
      </div>
      <div class="large--hide medium-down--show">
        <div class="grid">
          <div class="grid__item one-third">
            <div class="site-nav--mobile">
              <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                <span class="icon icon-hamburger" aria-hidden="true"></span>
                <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
              </button>
            </div>
          </div>
          <div class="grid__item one-third">
          {% comment %}
            Use the uploaded logo from theme settings if enabled.
            Site name gets precedence with H1 tag on homepage, div on other pages.
          {% endcomment %}
          {% if template == 'index' %}
            <h1 class="h3 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h3 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
          {% if settings.logo_use_image %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {% else %}
            <a href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}
          </div>
          <div class="grid__item one-third text-right">
            <div class="site-nav--mobile">
              <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                <span class="icon-fallback-text">
                  <span class="icon icon-cart" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="grid--full medium-down--hide user-menu h6">
      <div class="grid__item text-left large--one-third">
        <ul class="inline-list menu-links">
          <li><span>{{ settings.phone_number }}</span></li>
          {% for link in linklists.page-menu.links %}
            <li><a href="{{ link.url }}"><span>{{ link.title }}</span></a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="grid__item text-right large--two-thirds">
        <ul class="inline-list user-links">
          <li>
            <span>
              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                or {{ 'layout.customer.create_account' | t | customer_register_link }}
                {% endif %}
              {% endif %}
            </span>
          </li>
          <li>{% include 'header-search-bar' %}</li>
          <li>
            <a href="/account?view=wishlist">
              <span>
                <span><span class="icon icon-heart" aria-hidden="true"></span> </span>
              </span>
            </a>
          </li>
          <li>
            <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
              <span>
                <span class="icon icon-cart" aria-hidden="true"></span> 
                {{ 'layout.cart.title' | t }}
              </span>
            </a>
          </li>
          <li>
            <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
              <span>
                <span id="CartCount">{{ cart.item_count }}</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
      {%if template == 'index' %}
        {% include 'navigation-hero' %}
      {%else%}
        {% include 'navigation' %}
      {%endif%}
  </header>
<!--  end header.liquid -->