<!-- /snippets/header-search-bar.liquid -->
<form action="/search" method="get" role="search">
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
  <input type="search" name="q" class="h6 text-center" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
  <button type="submit" class="visually-hidden"></button>
</form>
<!-- end /snippets/header-search-bar.liquid -->