<span class="icon" aria-hidden="true">
  {% case icon %}
    {% when 'truck' %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 448" width="30" height="30" class="undefined">
      <path d="M95.7 304.1c-4.4 0-8 3.6-8 8 0 4.2-3.4 7.7-7.7 7.7 -4.2 0-7.7-3.4-7.7-7.7 0-4.2 3.5-7.7 7.7-7.7 4.4 0 8-3.6 8-8s-3.6-8-8-8c-13.1 0-23.7 10.6-23.7 23.7 0 13.1 10.6 23.7 23.7 23.7 13.1 0 23.7-10.6 23.7-23.7C103.7 307.7 100.1 304.1 95.7 304.1z" class="a fill"/>
      <path d="M384.1 304.1c-4.4 0-8 3.6-8 8 0 4.2-3.4 7.7-7.7 7.7 -4.2 0-7.7-3.4-7.7-7.7 0-4.2 3.5-7.7 7.7-7.7 4.4 0 8-3.6 8-8s-3.6-8-8-8c-13.1 0-23.7 10.6-23.7 23.7 0 13.1 10.6 23.7 23.7 23.7 13.1 0 23.7-10.6 23.7-23.7C392.1 307.7 388.5 304.1 384.1 304.1z" class="a fill"/>
      <path d="M446.9 201.8l-30.7-52c-10.5-17.6-20.4-27.8-40.3-29.5 -0.7-0.2-1.3-0.3-2-0.3H312.5v-16.2c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v200.3c0 8.8 7.2 16 16 16h16.7c3.8 22.7 23.6 40 47.3 40 23.7 0 43.5-17.3 47.3-40h193.7c3.8 22.7 23.6 40 47.3 40 23.7 0 43.5-17.3 47.3-40H440c4.4 0 8-3.6 8-8V205.9C448 204.5 447.6 203.1 446.9 201.8zM416.4 232.5c0-4.4 3.6-8 8-8H432v15.7h-15.6V232.5zM427.2 200h-73.5c-0.5-0.1-1.1-0.2-1.6-0.2 -4.5 0-8.2-3.7-8.2-8.2v-32.1h59.5L427.2 200zM16 103.8h280.5v200.3H127.4c-3.8-22.7-23.6-40-47.3-40 -23.8 0-43.5 17.3-47.3 40H16V103.8zM80 344.2c-17.7 0-32-14.4-32-32 0-17.7 14.4-32 32-32 17.7 0 32 14.4 32 32C112.1 329.8 97.7 344.2 80 344.2zM368.4 344.2c-17.7 0-32-14.4-32-32 0-17.7 14.4-32 32-32 17.7 0 32 14.4 32 32C400.4 329.8 386.1 344.2 368.4 344.2zM415.7 304.1c-3.8-22.7-23.6-40-47.3-40 -23.8 0-43.5 17.3-47.3 40H312.5V136.1h57.1c10.2 0 16.6 2.2 22.2 7.5h-55.9c-4.4 0-8 3.6-8 8v40.1c0 12.7 9.8 23.1 22.2 24.1 0.6 0.2 1.3 0.2 2 0.2h55c-4.1 4.3-6.6 10.1-6.6 16.5v15.7c0 4.4 3.6 8 8 8H432v47.9H415.7z" class="a fill"/>
      <path d="M40.3 136.1h231.8c4.4 0 8-3.6 8-8s-3.6-8-8-8H40.3c-4.4 0-8 3.6-8 8S35.9 136.1 40.3 136.1z" class="a fill"/>
    </svg>
  {% when 'groceries' %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303.1 303.1" width="36" height="36"><path d="M189.5 96.8c-2.3-0.7-4.9 0.1-6.4 1.9l-2.5 3v-64.9c0-3.3-2.7-6-6-6H88.2C85.5 13.4 70.4 0 52.3 0c0 0 0 0-0.1 0C32.2 0 16 16.3 16 36.3l0.1 68.9 -5.4-6.5C9.5 97.3 7.8 96.5 6 96.5c-3.3 0-6 2.8-6 6.1v198.5c0 3.3 2.7 6 6 6h181.7c3.3 0 6-2.7 6-6l0-198.5C193.7 99.9 192 97.6 189.5 96.8zM88.9 119.9c-0.1-1.3-0.2-2.6-0.2-3.9v-0.3c0.1-21.9 18-39.8 39.9-39.8 22 0 39.9 17.9 39.9 39.9 0 0.1 0 0.3 0 0.4l-11 13.3L131.9 98.7c-1.1-1.4-2.8-2.2-4.6-2.2 -1.8 0-3.5 0.8-4.6 2.2l-25.7 30.8L88.9 119.9zM168.6 82.6c-9.5-11.5-23.9-18.8-39.9-18.8 -16.1 0-30.5 7.3-40 18.8l-0.1-39.8h80V82.6zM28 36.3C28 22.9 38.9 12 52.2 12c0 0 0 0 0 0 10.4 0 19.3 6.6 22.8 15.8l-26.2 26.3c-1.8 1.8-1.8 4.6 0 6.4 0.9 0.9 2 1.3 3.2 1.3 1.2 0 2.3-0.4 3.2-1.3l21.4-21.4 0 19L48.9 85.8c-1.8 1.8-1.8 4.6 0 6.4 0.9 0.9 2 1.3 3.2 1.3 1.2 0 2.3-0.4 3.2-1.3L76.6 70.8l0.1 34.4L71.3 98.7c-1.1-1.4-2.8-2.2-4.6-2.2 -1.8 0-3.5 0.8-4.6 2.2l-25.7 30.8 -8.2-9.9L28 36.3zM181.7 295.1H12V119l19.8 23.7c1.1 1.4 2.8 2.2 4.6 2.2 1.8 0 3.5-0.8 4.6-2.2l25.7-30.8 11.8 14.1c0 0 0.1 0.1 0.1 0.1l13.8 16.5c1.1 1.4 2.8 2.2 4.6 2.2 1.8 0 3.5-0.8 4.6-2.2l25.7-30.8 25.7 30.8c1.1 1.4 2.8 2.2 4.6 2.2h0c1.8 0 3.5-0.8 4.6-2.2l17.1-20.5c0 0 0 0 0 0l2.5-3L181.7 295.1z" class="a fill"/></svg>
  {% when 'big-groceries' %}
    <svg width="133px" height="133px" viewBox="69 -1 133 133" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(70.000000, 0.000000)">
        <g id="food" transform="translate(27.000000, 27.000000)" fill="#88B511">
            <g id="Capa_1">
                <g id="Group">
                    <path d="M75.7712766,44.3539744 C75.0926936,44.3539744 74.5425532,44.9064658 74.5425532,45.5879487 L74.5425532,49.2898718 L2.45744681,49.2898718 L2.45744681,45.5879487 C2.45744681,44.9064658 1.90730638,44.3539744 1.2287234,44.3539744 C0.550140426,44.3539744 0,44.9064658 0,45.5879487 L0,75.7194637 C0,76.4009466 0.550140426,76.953438 1.2287234,76.953438 L75.7712766,76.953438 C76.4498596,76.953438 77,76.4009466 77,75.7194637 L77,45.5879487 C77,44.9064658 76.4498596,44.3539744 75.7712766,44.3539744 L75.7712766,44.3539744 Z M74.5425532,54.2257692 L11.0585106,54.2257692 C10.3799277,54.2257692 9.82978723,54.7782607 9.82978723,55.4597436 C9.82978723,56.1412265 10.3799277,56.6937179 11.0585106,56.6937179 L74.5425532,56.6937179 L74.5425532,74.4854893 L2.45744681,74.4854893 L2.45744681,56.6937179 L6.14361702,56.6937179 C6.8222,56.6937179 7.37234043,56.1412265 7.37234043,55.4597436 C7.37234043,54.7782607 6.8222,54.2257692 6.14361702,54.2257692 L2.45744681,54.2257692 L2.45744681,51.7578205 L74.5425532,51.7578205 L74.5425532,54.2257692 L74.5425532,54.2257692 Z" id="Shape"></path>
                    <path d="M31.0097021,46.5440321 C31.237917,46.7311026 31.5126596,46.8220876 31.7859277,46.8220876 C32.1422574,46.8220876 32.4956383,46.667265 32.738434,46.3684786 L46.3615362,29.6086389 C46.7906064,29.0808269 46.7124596,28.3034231 46.1867298,27.8723547 C45.6611638,27.4414509 44.8870681,27.5199316 44.457834,28.0479081 L30.8347319,44.8077479 C30.4058255,45.3355598 30.4839723,46.1129637 31.0097021,46.5440321 L31.0097021,46.5440321 Z" id="Shape"></path>
                    <path d="M37.0604277,44.8077479 C36.6313574,45.3355598 36.7095043,46.1129637 37.235234,46.5440321 C37.4634489,46.7311026 37.7381915,46.8220876 38.0114596,46.8220876 C38.3677894,46.8220876 38.7211702,46.667265 38.963966,46.3684786 C38.963966,46.3684786 52.3958787,29.8435876 52.5846106,29.6116004 C52.585266,29.6106132 52.5860851,29.6097906 52.5869043,29.6088034 C52.6625936,29.5156795 52.7438532,29.4255171 52.8280617,29.3407842 C54.1968596,27.9663013 56.4241255,27.9663013 57.7929234,29.3407842 L61.1807596,32.7430983 C62.5495574,34.1177457 62.5495574,36.3545299 61.1807596,37.7293419 C61.0963872,37.8140748 61.0066085,37.8955171 60.9142085,37.9713654 L52.789234,44.6321944 C52.2635043,45.0632628 52.1851936,45.8405021 52.6144277,46.3684786 C52.8573872,46.667265 53.2107681,46.8220876 53.566934,46.8220876 C53.8400383,46.8220876 54.1151085,46.7311026 54.3431596,46.5440321 L62.4682979,39.8830385 C62.6245915,39.7548697 62.7759702,39.6173226 62.9183383,39.4743462 C64.9390149,37.4448697 65.2039277,34.3107393 63.7150426,31.9905385 C67.0425894,29.0207735 71.2821766,27.3965342 75.7711128,27.3965342 C76.4496957,27.3965342 76.9998362,26.8440427 76.9998362,26.1625598 C76.9998362,25.4810769 76.4496957,24.9285855 75.7711128,24.9285855 C70.7985511,24.9285855 66.094834,26.6837906 62.360334,29.9011731 L72.7210936,19.4963013 C73.2009511,19.0143932 73.2009511,18.2332051 72.7210936,17.751297 C72.2412362,17.2693889 71.4632085,17.2693889 70.9835149,17.751297 L60.6235745,28.1555107 C63.8269383,24.4050513 65.5743468,19.6817265 65.5743468,14.6882436 C65.5743468,14.0067607 65.0242064,13.4542692 64.3456234,13.4542692 C63.6670404,13.4542692 63.1169,14.0067607 63.1169,14.6882436 C63.1169,19.1961987 61.4995723,23.4540684 58.5424447,26.7958355 C56.232117,25.3004231 53.1111596,25.5664679 51.090483,27.5957799 C50.9481149,27.7387564 50.8111532,27.8907821 50.6835298,28.0477436 L50.6866426,28.0502115 C50.6317596,28.1117457 50.5804809,28.1747607 50.5305128,28.2361303 L37.0604277,44.8077479 L37.0604277,44.8077479 Z" id="Shape"></path>
                    <path d="M6.13984894,46.8219231 C6.81843191,46.8219231 7.36857234,46.2694316 7.36857234,45.5879487 L7.36857234,15.6852949 L24.8115298,15.6852949 L24.8115298,45.5879487 C24.8115298,46.2694316 25.3616702,46.8219231 26.0402532,46.8219231 C26.7188362,46.8219231 27.2689766,46.2694316 27.2689766,45.5879487 L27.2689766,14.8463568 L31.8909426,8.34084402 L35.3556149,13.2171816 L32.0778723,13.2171816 C31.3992894,13.2171816 30.8491489,13.7696731 30.8491489,14.451156 C30.8491489,15.1326389 31.3992894,15.6851303 32.0778723,15.6851303 L36.5129085,15.6851303 L36.5129085,30.4564615 C36.5129085,31.1379444 37.0630489,31.6904359 37.7416319,31.6904359 C38.4202149,31.6904359 38.9703553,31.1379444 38.9703553,30.4564615 L38.9703553,14.4513205 C38.9703553,14.1943248 38.8904064,13.9437457 38.7418128,13.7346282 L33.119666,5.82139744 L33.119666,1.28053632 C33.119666,0.599053419 32.5695255,0.0465619658 31.8909426,0.0465619658 L11.9905383,0.0465619658 C11.3119553,0.0465619658 10.7618149,0.599053419 10.7618149,1.28053632 L10.7618149,5.82123291 L5.13950426,13.7346282 C4.99091064,13.9437457 4.9109617,14.1943248 4.9109617,14.4513205 L4.9109617,45.5879487 C4.91112553,46.2694316 5.46110213,46.8219231 6.13984894,46.8219231 L6.13984894,46.8219231 Z M13.2192617,2.51451068 L30.6622191,2.51451068 L30.6622191,4.9824594 L13.2192617,4.9824594 L13.2192617,2.51451068 L13.2192617,2.51451068 Z M12.6232489,7.45040812 L29.5047617,7.45040812 L25.4073787,13.2173462 L8.52586596,13.2173462 L12.6232489,7.45040812 L12.6232489,7.45040812 Z" id="Shape"></path>
                    <path d="M70.856383,46.8220876 C71.534966,46.8220876 72.0851064,46.2695962 72.0851064,45.5881132 L72.0851064,43.5377415 C72.0851064,40.9717329 70.4702362,38.645938 68.0666894,37.7502372 C67.4302106,37.5133141 66.7232851,37.8389188 66.4872064,38.4777885 C66.2511277,39.1168226 66.5755106,39.8269338 67.2116617,40.0640214 C68.6566404,40.6025278 69.6276596,41.9983996 69.6276596,43.5377415 L69.6276596,45.5881132 C69.6276596,46.2695962 70.1778,46.8220876 70.856383,46.8220876 L70.856383,46.8220876 Z" id="Shape"></path>
                </g>
            </g>
        </g>
        <circle id="Oval" stroke="#88B511" stroke-width="2" cx="65.5" cy="65.5" r="65.5"></circle>
    </g>
    </svg>
  {% when 'big-home' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="133" height="133" viewBox="68 -1 133 133"><desc>  Created with Sketch.</desc><g fill="none"><g fill="#88B511"><path d="M172.1 62L160.7 51.4 160.7 34.1 147.5 34.1 147.5 39.2 134.4 27 96.7 62C96.1 62.5 96.1 63.3 96.6 63.9 97.1 64.4 97.9 64.4 98.5 63.9L102.8 59.9 102.8 103.7 123.9 103.7 144.9 103.7 165.9 103.7 165.9 59.9 170.3 63.9C170.5 64.2 170.9 64.3 171.2 64.3 171.5 64.3 171.9 64.2 172.1 63.9 172.6 63.3 172.6 62.5 172.1 62L172.1 62ZM150.1 36.7L158 36.7 158 49 150.1 41.7 150.1 36.7 150.1 36.7ZM126.5 101.1L126.5 73.4C126.5 72.7 127 72.2 127.7 72.2L141 72.2C141.7 72.2 142.3 72.7 142.3 73.4L142.3 101.1 126.5 101.1 126.5 101.1ZM163.3 101.1L144.9 101.1 144.9 73.4C144.9 71.3 143.2 69.6 141 69.6L127.7 69.6C125.6 69.6 123.9 71.3 123.9 73.4L123.9 101.1 105.4 101.1 105.4 57.4 134.4 30.6 153.1 48 160.7 55 160.7 55 163.3 57.4 163.3 101.1 163.3 101.1Z"/></g></g><path d="M134.5 131C170.7 131 200 101.7 200 65.5 200 29.3 170.7 0 134.5 0 98.3 0 69 29.3 69 65.5 69 101.7 98.3 131 134.5 131Z" style="fill:none;stroke-width:2;stroke:#88B511"/></svg>
  {% when 'big-truck' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="133" height="133" viewBox="154 -1 133 133"><desc>  Created with Sketch.</desc><g fill="none"><g fill="#88B511"><path d="M195.7 82.2C194.9 82.2 194.2 82.9 194.2 83.8 194.2 84.6 193.5 85.3 192.7 85.3 191.8 85.3 191.2 84.6 191.2 83.8 191.2 82.9 191.8 82.3 192.7 82.3 193.5 82.3 194.2 81.5 194.2 80.7 194.2 79.8 193.5 79.1 192.7 79.1 190.1 79.1 188 81.2 188 83.8 188 86.4 190.1 88.5 192.7 88.5 195.2 88.5 197.3 86.4 197.3 83.8 197.3 82.9 196.6 82.2 195.7 82.2L195.7 82.2Z"/><path d="M252.2 82.2C251.3 82.2 250.6 82.9 250.6 83.8 250.6 84.6 249.9 85.3 249.1 85.3 248.3 85.3 247.6 84.6 247.6 83.8 247.6 82.9 248.3 82.3 249.1 82.3 250 82.3 250.7 81.5 250.7 80.7 250.7 79.8 250 79.1 249.1 79.1 246.5 79.1 244.5 81.2 244.5 83.8 244.5 86.4 246.5 88.5 249.1 88.5 251.6 88.5 253.7 86.4 253.7 83.8 253.7 82.9 253 82.2 252.2 82.2L252.2 82.2Z"/><path d="M264.4 61.8L258.4 51.5C256.4 48 254.4 46 250.6 45.6 250.4 45.6 250.3 45.6 250.2 45.6L238.1 45.6 238.1 42.3C238.1 40.6 236.7 39.2 235 39.2L180.1 39.2C178.4 39.2 177 40.6 177 42.3L177 82.2C177 84 178.4 85.4 180.1 85.4L183.4 85.4C184.1 89.9 188 93.3 192.7 93.3 197.3 93.3 201.2 89.9 201.9 85.4L239.8 85.4C240.6 89.9 244.4 93.3 249.1 93.3 253.7 93.3 257.6 89.9 258.4 85.4L263.1 85.4C264 85.4 264.7 84.7 264.7 83.8L264.7 62.7C264.7 62.4 264.6 62.1 264.4 61.8L264.4 61.8ZM258.5 67.9C258.5 67.1 259.2 66.4 260.1 66.4L261.5 66.4 261.5 69.5 258.5 69.5 258.5 67.9 258.5 67.9ZM260.6 61.5L246.2 61.5C246.1 61.5 246 61.4 245.9 61.4 245 61.4 244.3 60.7 244.3 59.8L244.3 53.4 255.9 53.4 260.6 61.5 260.6 61.5ZM180.1 42.3L235 42.3 235 82.2 201.9 82.2C201.2 77.7 197.3 74.2 192.7 74.2 188 74.2 184.1 77.7 183.4 82.2L180.1 82.2 180.1 42.3 180.1 42.3ZM192.7 90.2C189.2 90.2 186.4 87.3 186.4 83.8 186.4 80.3 189.2 77.4 192.7 77.4 196.1 77.4 198.9 80.3 198.9 83.8 198.9 87.3 196.1 90.2 192.7 90.2L192.7 90.2ZM249.1 90.2C245.6 90.2 242.8 87.3 242.8 83.8 242.8 80.3 245.6 77.4 249.1 77.4 252.5 77.4 255.4 80.3 255.4 83.8 255.4 87.3 252.5 90.2 249.1 90.2L249.1 90.2ZM258.4 82.2C257.6 77.7 253.7 74.2 249.1 74.2 244.4 74.2 240.6 77.7 239.8 82.2L238.1 82.2 238.1 48.8 249.3 48.8C251.3 48.8 252.6 49.2 253.7 50.3L242.7 50.3C241.9 50.3 241.2 51 241.2 51.8L241.2 59.8C241.2 62.3 243.1 64.4 245.5 64.6 245.6 64.6 245.8 64.7 245.9 64.7L256.7 64.7C255.8 65.5 255.4 66.7 255.4 67.9L255.4 71.1C255.4 72 256.1 72.7 256.9 72.7L261.5 72.7 261.5 82.2 258.4 82.2 258.4 82.2Z"/><path d="M184.9 48.8L230.3 48.8C231.1 48.8 231.8 48.1 231.8 47.2 231.8 46.3 231.1 45.6 230.3 45.6L184.9 45.6C184 45.6 183.3 46.3 183.3 47.2 183.3 48.1 184 48.8 184.9 48.8L184.9 48.8Z"/></g></g><circle cx="220.5" cy="65.5" r="65.5" style="fill:none;stroke-width:2;stroke:#88B511"/></svg>
  {% when 'wave' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="11" viewBox="0 0 72 11"><desc>  Created with Sketch.</desc><path d="M12 10C15.9 10 17.9 8.5 19.5 7.3 20.9 6.2 21.9 5.6 24 5.6 26.1 5.6 27.1 6.2 28.5 7.3 30.1 8.5 32.1 10 36 10 39.8 10 41.9 8.5 43.5 7.3 44.9 6.2 45.8 5.6 48 5.6 50.1 5.6 51.1 6.2 52.5 7.3 54.1 8.5 56.1 10 60 10 63.9 10 65.9 8.5 67.5 7.3 68.9 6.2 69.9 5.6 72 5.6L72 0C68.1 0 66.1 1.5 64.5 2.7 63.1 3.8 62.1 4.4 60 4.4 57.9 4.4 56.9 3.8 55.5 2.7 53.9 1.5 51.8 0 48 0 44.1 0 42.1 1.5 40.5 2.7 39.1 3.8 38.1 4.4 36 4.4 33.8 4.4 32.9 3.8 31.5 2.7 29.9 1.5 27.8 0 24 0 20.1 0 18.1 1.5 16.5 2.7 15.1 3.8 14.1 4.4 12 4.4 9.9 4.4 8.9 3.8 7.5 2.7 5.9 1.5 3.9 0 0 0L0 5.6C2.1 5.6 3.1 6.2 4.5 7.3 6.1 8.5 8.1 10 12 10L12 10Z" fill="#FFF"/></svg>
  {% when 'right-arrow' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="31" viewBox="1220 1 16 31"><desc>  Created with Sketch.</desc><g fill="none"><g fill="#1A1A1A"><path d="M1235.7 15.5L1221.5 1.3C1221.2 0.9 1220.6 0.9 1220.3 1.3 1220 1.6 1220 2.1 1220.3 2.5L1233.9 16.1 1220.3 29.7C1220 30.1 1220 30.6 1220.3 30.9 1220.5 31.1 1220.7 31.2 1220.9 31.2 1221.1 31.2 1221.3 31.1 1221.5 30.9L1235.7 16.7C1236.1 16.4 1236.1 15.8 1235.7 15.5L1235.7 15.5Z"/></g></g></svg>
  {% else %}
      <!-- ICON MISSING --->
   {% endcase %}
  </span>