{% assign grid_item_width = 'large--one-third medium--one-half small--one-whole' %}
{% assign image_size = 'large' %}

{% if linklists.main-menu.links.size > 0 %}
  {% assign number_of_links = 0 %}  
  <div class="featured-collection-grid clearfix">
    {% for link in linklists.main-menu.links %}
      {% if link.type == 'collection_link' %}
        {% assign collection = link.object %}
        {% assign number_of_links = number_of_links | plus: 1 %}
        <div class="grid__item grid-item product-grid-item {{ grid_item_width }} overlay text-center" style="background-image:url('{{ link.object.image | img_url: 'original'}}');">
          <div class="box">
            <div class="content">
              <a href="{{ link.url }}" class="grid-image--centered">
                <h3 class="collection-grid__item-title">
                  {{ link.title }}
                </h3>
                
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>

  {% if number_of_links == 0 %}

  <div class="grid">
    <div class="grid__item grid-item rte text-center">
      <p>
        There are no links of type <i>Collection</i> in your <b>Main Menu</b> link list.
        Go ahead and <a href="/admin/link_lists/{{ linklists.main-menu.id }}" target="_blank">edit your link list</a> to use links that point to collections.
      </p>
    </div>
  </div>

  {% endif %}
{% endif %}

<style>
  kbd { 
    background-color: #FBFBE4;
    padding: 1px 4px;
    border-radius: 3px;
  }
</style>