{% if wishlist_collection %}
  <div class="wishlist-toggle included" data-product-handle="{{ product_handle }}" data-product-id="{{ product_id }}">{% include 'icon' with 'heart' %} {{ 'wishlist.remove' | t }}</div>
{% else %}
  {% assign added = false %}
  {% if customer %}
    {% assign product_id = product.id | downcase %}
    {% for metafield in customer.metafields.wishlist %}
  	  {% assign metafield_product_id = metafield | first | downcase %}
      {% if product_id == metafield_product_id %}
        {% assign added = true %}
      {% endif %}
    {% endfor %}
    <div class="wishlist-toggle remove {% if added %}visible{% endif %}" data-product-handle="{{ product.handle }}", data-product-id="{{ product.id }}">
      {% include 'icon' with 'heart' %} {{ 'wishlist.remove' | t }}
    </div>
    <div class="wishlist-toggle add {% unless added %}visible{% endunless %}" data-product-handle="{{ product.handle }}", data-product-id="{{ product.id }}">
      {% include 'icon' with 'heart' %} {{ 'wishlist.add' | t }}
    </div>
  {% else %}
    <div class="wishlist-toggle signup">
      <a href="/account/register">{% include 'icon' with 'heart' %} {{ 'wishlist.add' | t }}</a>
    </div>
  {% endif %}
{% endif %}