{% assign wishlist_collection = true %}
{% if customer %}
  <h4>{{ 'wishlist.title' | t }}</h4>
  <div class="grid-uniform empty" id="wishlist">
    {% assign grid_item_width = 'large--one-fifth medium--one-third' %}
    {% for metafield in customer.metafields.wishlist %}
      {% assign product_id = metafield | first %}
      {% assign product_handle = metafield | last %}
      {% assign product = all_products[product_handle] %}
      {% if product != empty %}
        {% include 'product-grid-item' %}
      {% endif %}
    {% endfor %}
    <div class="grid__item wishlist_empty">
      <p>Your wishlist is empty! <a href="collections/all">Shop now to add some items to your wishlist</a></p>
    </div>
  </div>
{% endif %}