{% assign app_instance = 'https://<APP_INSTANCE>.herokuapp.com' %}

{% if customer %}
  <script type="text/javascript">

    var customerId = "{{ customer.id }}"

    var removeFromWishlist = function(productId, customerId) {
      var data = {
        product_id: productId,
        customer_id: customerId
      }
      $.post('{{ app_instance }}/remove/', data, function(response) {
      })
    }
    
    var addToWishlist = function(productId, customerId, productHandle) {
      var data = {
        product_id: productId,
        customer_id: customerId,
        product_handle: productHandle
      }
      $.post('{{ app_instance }}/add/', data, function(response) {
      })
    }
    
    if ($('#wishlist .wishlist-item').length < 1) {
      $('#wishlist').addClass('empty')
    } else {
      $('#wishlist').removeClass('empty')
    }

    $('#wishlist').on('click', '.wishlist-toggle.included', function() {
      removeFromWishlist($(this).data('product-id'), customerId)
      $(this).closest('.wishlist-item').remove()
      if ($('#wishlist .wishlist-item').length < 1) {
        $('#wishlist').addClass('empty')
      } else {
        $('#wishlist').removeClass('empty')
      }
    })

    $('body').on('click', '.wishlist-toggle.add', function() {
      addToWishlist($(this).data('product-id'), customerId, $(this).data('product-handle'))
      $(this).siblings('.wishlist-toggle').addClass('visible')
      $(this).removeClass('visible')
    })

    $('body').on('click', '.wishlist-toggle.remove', function() {
      removeFromWishlist($(this).data('product-id'), customerId, $(this).data('product-handle'))
      $(this).siblings('.wishlist-toggle').addClass('visible')
      $(this).removeClass('visible')
    })

  </script>
{% endif %}