<!-- /templates/customers/account.wishlist.liquid -->

{% include 'breadcrumb' %}

{% assign wishlist_collection = true %}

<div class="grid">
  <div class="grid__item three-quarters medium-down--one-whole">
    <h1>{{ 'wishlist.title' | t }}</h1>
  </div>
  <div class="grid__item one-quarter medium-down--one-whole large--text-right">
    <a href="/account/logout"><b>{{ 'layout.customer.log_out' | t }}</b></a>
  </div>
</div>

<hr class="hr">

<div class="grid--rev">

  <div class="grid__item three-quarters medium-down--one-whole">

    <div class="grid-uniform empty" id="wishlist">
      {% assign grid_item_width = 'large--one-third medium--one-half' %}
      {% for metafield in customer.metafields.wishlist %}
        {% assign product_id = metafield | first %}
        {% assign product_handle = metafield | last %}
        {% assign product = all_products[product_handle] %}
        {% if product != empty %}
          {% include 'product-grid-item' %}
        {% endif %}
      {% endfor %}
      <div class="grid__item wishlist_empty">
        <p>{{ 'wishlist.is_empty' | t }} <a href="collections/all">{{ 'wishlist.continue' | t }}</a></p>
      </div>
    </div>

  </div>

</div>