<!-- /templates/index.liquid -->
<div class="grid">
    <div class="large--one-whole text-center">
      <h5>WHY REGIONAL ORGANICS?</h5>
      <h2>FRESH, HEALTHY, AND EASY</h2>
    </div>

  <div class="grid__item large--one-third feature-grid-item text-center">
    {% include 'icon' with 'big-groceries' %}
  <p class="">{{ settings.usp-1 }}</p>
  </div>
  <div class="grid__item large--one-third feature-grid-item text-center">
    {% include 'icon' with 'big-home' %}
  <p class="">{{ settings.usp-2 }}</p>
  </div>
  <div class="grid__item large--one-third feature-grid-item text-center">
    {% include 'icon' with 'big-truck' %}
  <p class="">{{ settings.usp-3 }}</p>
  </div>
</div>
<hr>
<div class="grid-table">
  <div class="large--one-whole text-center">
    <h5>Explore</h5>
    <h2>{{ 'homepage.sections.featured_title' | t }}</h2>
    <hr class="hr--clear">
  </div>
  {% include 'index-collection-list' %}
</div>

<hr class="hr--clear">

<div class="grid-table">
  <div class="large--one-whole text-center">
    <h5>REGIONAL ORGANICS</h5>
    <h2>{{ 'homepage.sections.frontpage_title' | t }}</h2>
    <hr class="hr--clear">
  </div>
  <div class="product-slick">
    {% for product in collections.frontpage.products limit:16 %}
      {% assign grid_item_width = '' %}
      {% include 'slick-grid-item' %}
    {% else %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}
      {% include 'onboarding-featured-products' %}
    {% endfor %}
  </div>
</div>